.code {
    border: solid 1px black;
    border-radius: 10px;
    background-color: rgb(29, 29, 29);
}

.here {
    color: rgb(66, 66, 255);
    cursor: pointer;
}

.here:hover {
    text-decoration: underline;
}