body {
    margin: 0 auto;
    max-width: 100%;
    font-family: system-ui;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

li a {
    transition: linear 0.2s;
    text-decoration: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

nav ul li a:hover {
    transition: linear 0.2s;
    color: gray;
}

nav {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
    margin-top: 10px;
}

.mainSection {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('img/big-background.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.about .title, .contactus .title {
    font-size: 30px;
}

.about, .contactus {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 250px;
}

.about .text, .contactus .text {
    width: 50%;
    margin-left: 25%;
}

.contactus {
    margin-top: 250px;
}

.footer {
    background-color: rgb(165, 165, 165);
    height: 48px;
}

.footer .rights {
    text-align: center;
    padding: 1%;
}

.disc2 {
    transition: ease 0.3s;
}

.disc2:hover {
    transition: ease 0.3s;
    transform: translateY(-5px);
}

.logo {
    margin-top: 22vh;
    margin-bottom: 10px;
}

.hashtag {
    margin-top: -7px;
    margin-right: 25%;
    margin-left: -25%;
}

.socialmedias {
    position: absolute;
    margin-top: 30vh;
    margin-left: 25px;
}

.p2 {
    margin-left: 25%;
}

.btn {
    display: flex;
    align-items: center;
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 17px;
    padding: 0.8em 1.3em 0.8em 0.9em;
    color: white;
    background: #ad5389;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    border: none;
    letter-spacing: 0.05em;
    border-radius: 16px;
}

.btn svg {
    margin-right: 3px;
    transform: rotate(30deg);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.btn span {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.btn:hover svg {
    transform: translateX(5px) rotate(90deg);
}

.btn:hover span {
    transform: translateX(7px);
}

.button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
  
.svgIcon {
    width: 12px;
    transition-duration: 0.3s;
}
  
.svgIcon path {
    fill: white;
}
  
.button:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(181, 160, 255);
    align-items: center;
}
  
.button:hover .svgIcon {
    /* width: 20px; */
    transition-duration: 0.3s;
    transform: translateY(-200%);
}
  
.button::before {
    position: absolute;
    bottom: -20px;
    content: "Back to Top";
    color: white;
    /* transition-duration: .3s; */
    font-size: 0px;
}
  
.button:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    /* transform: translateY(-30px); */
    transition-duration: 0.3s;
}

.c-button {
    color: #000;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    padding: 0.9em 1.6em;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
}

.c-button--gooey {
    color: #06c8d9;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 4px solid #06c8d9;
    border-radius: 0;
    position: relative;
    transition: all 700ms ease;
    background-color: transparent;
    width: 200px;
}

.c-button--gooey .c-button__blobs {
    height: 100%;
    filter: url(#goo);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -3px;
    right: -1px;
    z-index: -1;
}

.c-button--gooey .c-button__blobs div {
    background-color: #06c8d9;
    width: 34%;
    height: 100%;
    border-radius: 100%;
    position: absolute;
    transform: scale(1.4) translateY(125%) translateZ(0);
    transition: all 700ms ease;
}

.c-button--gooey .c-button__blobs div:nth-child(1) {
    left: -5%;
}

.c-button--gooey .c-button__blobs div:nth-child(2) {
    left: 30%;
    transition-delay: 60ms;
}

.c-button--gooey .c-button__blobs div:nth-child(3) {
    left: 66%;
    transition-delay: 25ms;
}

.c-button--gooey:hover {
    color: #fff;
}

.c-button--gooey:hover .c-button__blobs div {
    transform: scale(1.4) translateY(0) translateZ(0);
}

.card-title {
    color: #262626;
    font-size: 1.5em;
    line-height: normal;
    font-weight: 700;
    margin-bottom: 0.5em;
}

.small-desc {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
    color: #452c2c;
}

.small-desc {
    font-size: 1em;
}

.go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 2em;
    height: 2em;
    overflow: hidden;
    top: 0;
    right: 0;
    background: linear-gradient(135deg, #6293c8, #384c6c);
    border-radius: 0 4px 0 32px;
}

.go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
}

.card {
    display: block;
    position: relative;
    max-width: 300px;
    max-height: 320px;
    background-color: #f2f8f9;
    border-radius: 10px;
    padding: 2em 1.2em;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #c3e6ec, #a7d1d9);
    font-family: Arial, Helvetica, sans-serif;
}

.card:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: linear-gradient(135deg, #364a60, #384c6c);
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 30%;
    transition: transform 0.35s ease-out;
}

.card:hover:before {
    transform: scale(28);
}

.card:hover .small-desc {
    transition: all 0.5s ease-out;
    color: rgba(255, 255, 255, 0.8);
}

.card:hover .card-title {
    transition: all 0.5s ease-out;
    color: #ffffff;
}

@media only screen and (max-width: 414px) and (max-height: 896px) {
    body {
        max-width: 414px;
        max-height: 896px;
    }

    .logo {
        width: 250px;
    }

    .footer .rights {
        padding: 3%;
    }

    .mainSection {
        width: 100%;
        height: 100vh;
    }

    .inner ul {
        width: 100%;
    }

    ul {
        width: 100vw;
    }

    .hashtag {
        margin-top: -25px;
    }
}

@media (max-width: 768px) {
    .p2 {
        margin-left: 5vw;
    }

    .socialmedias {
        margin-top: 60vh;
    }
}

.sign-up-button {
    display: inline-block;
    margin: 10px;
}
.sign-up-button {
    padding: 15px 30px;
    font-size: 20px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.sign-up-button:hover {
    background-color: #0056b3;
}

.socialmediacircle {
    transition: ease 0.5s;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: table-cell;
    vertical-align: middle;
}

.socialmediacircle:hover {
    transition: ease 0.5s;
    transform: scale(1.1);
}

.twop {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}