.price:hover {
    border-radius: 3px;
}

.price {
    background-color: rgba(207, 207, 207, 0.63);
    border-radius: 10px;
    width: 200px;
    box-shadow: black 0px 0px 3px 0.1px;
    transition: border-radius 0.3s ease;
}

.madeyourchoice:hover {
    transition: ease 0.1s;
    box-shadow: black 0px 0px 3px 0.1px;
}

body {
    background-color: rgb(221, 221, 221);
}

.plan1 {
    border-radius: 16px;
    box-shadow: 0 30px 30px -25px rgba(0, 38, 255, 0.205);
    padding: 10px;
    background-color: #fff;
    color: #697e91;
    max-width: 300px;
    height: fit-content;
}
  
.plan1 strong {
    font-weight: 600;
    color: #425275;
}
  
.plan1 .inner {
    align-items: center;
    padding: 20px;
    padding-top: 40px;
    background-color: #ecf0ff;
    border-radius: 12px;
    position: relative;
}
  
.plan1 .pricing {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #bed6fb;
    border-radius: 99em 0 0 99em;
    display: flex;
    align-items: center;
    padding: 0.625em 0.75em;
    font-size: 1.25rem;
    font-weight: 600;
    color: #425475;
}

.plan1 .pricing small {
    color: #707a91;
    font-size: 0.75em;
    margin-left: 0.25em;
}
  
.plan1 .title {
    font-weight: 600;
    font-size: 1.25rem;
    color: #425675;
}

.plan1 .title + * {
    margin-top: 0.75rem;
}

.plan1 .info + * {
    margin-top: 1rem;
}
  
.plan1 .features {
    display: flex;
    flex-direction: column;
}

.plan1 .features li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.plan1 .features li + * {
    margin-top: 0.75rem;
}

.plan1 .features .icon {
    background-color: #1FCAC5;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.plan1 .features .icon svg {
    width: 14px;
    height: 14px;
}
  
.plan1 .features + * {
    margin-top: 1.25rem;
}
  
.plan1 .action {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}
  
.plan1 .send {
    background-color: #6558d3;
    border-radius: 6px;
    color: #fff;
    font-weight: 500;
    font-size: 1.125rem;
    text-align: center;
    border: 0;
    outline: 0;
    width: 100%;
    padding: 0.625em 0.75em;
    text-decoration: none;
}
  
.plan1 .send:hover, .plan .send:focus {
    background-color: #4133B7;
}