*, ::before, ::after {
    margin: 0;
    padding: 0;
}

/* @font-face {
    font-family: "Sacramento";
    font-display: fallback;
    src: url(./sacramento.ttf);
}

@font-face {
    font-family: "Inter";
    font-display: fallback;
    src: url(./inter.ttf);
} */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sacramento&display=swap');

@keyframes gdScafadeIn {
    0%{opacity:0;scale:0}
    90%{scale:1.1;animation-timing-function: ease}
    100%{opacity:var(--target-gdScafadeIn-o,1);scale:var(--target-gdScafadeIn-s,1)}
}

@keyframes show {
    0%{opacity:0}
    100%{opacity:var(--target-show,1)}
}

@keyframes gdRotIn {
    0%{rotate:var(--target-old-rotIn,-45deg);opacity:0;scale:0}
    80% {scale:1.2}
    100%{opacity:1;scale:1}
}

@keyframes heightIn {
    0% {overflow:hidden;height:0}
    100% {overflow:hidden;height:var(--target-heightIn,max-content)}
}

@keyframes fadeInUp {
    0% {translate:0 -40%;opacity:0}
    100% {opacity:var(--target-fadeInUp,1)}
}

@keyframes widthIn {
    0% {width:0}
    100% {width:var(--target-widthIn,max-content)}
}

@keyframes fadeInLeft {
    0% {transform:translateX(-70px);opacity:0}
    100% {transform:translateX(var(--target-fadeInLeft-t,0));opacity:var(--target-fadeInLeft-o,1)}
}

html, body, main {
    height: 100%;
    position: relative;
}

html {
    background: #222;
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", system-ui;
    /* overflow: hidden; */
    opacity: 0;
    animation: show 0.3s cubic-bezier(0.23, 1, 0.320, 1) 0.3s forwards;
}

.logofont {
    font-family: "Sacramento";
}

body.hidenav nav {
    height: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    z-index: 3;
    top: 0;
    background: #0007;
    color: #fff;
    backdrop-filter: blur(7px);
    box-shadow: 0 0 5px 0 #0007;
    user-select: none;
    height: 45px;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

nav:not(.animended) {
    height: 0;
    --target-heightIn: 45px;
    animation: heightIn 0.3s cubic-bezier(0.215, 0.610, 0.355, 1) 0.5s forwards;
}

nav > ul {
    display: flex;
    list-style: none;
    gap: 12px;
}

nav > ul a {
    display: block;
    text-decoration: none;
    color: #76bbff;
    padding: 4px 10px;
    border-radius: 5px;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    user-select: text;
    cursor: pointer;
}

nav > ul a:hover {
    background: #fff3;
    color: #7ebeff;
    box-shadow: 0 0 5px 0 #fff3, inset 0 0 3px 0 #fff2;
}

main {
    background: url(https://images.pexels.com/photos/4709289/pexels-photo-4709289.jpeg?cs=srgb&dl=pexels-cottonbro-4709289.jpg&fm=jpg) 0 / cover;
    background-attachment: fixed;
}

section {
    position: relative;
    background-attachment: fixed!important;
    z-index: 1;
    overflow: hidden;
    box-shadow: inset 0 -4px 5px -5px #0005;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

section:not(:first-of-type):not(:nth-of-type(2)) {
    margin-top: -4px;
}

body:not(.scrolled) :is(section:not(:first-of-type), footer) {
    visibility: hidden;
}

.animh:not(.anim) > * {
    visibility: hidden;
}

section > .line {
    position: absolute;
    top: -3px;
    left: 0;
    z-index: 3;
    height: 4px;
    backdrop-filter: blur(4px);
    background: linear-gradient(0deg, #0005, #0000);
    box-shadow: 0 0 3px 0 #0005;
    width: 100%;
    /* filter: blur(1px); */
    /* width: 0;
    opacity: 1!important;
    animation: widthIn 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s forwards!important; */
}

body.hidenav section:first-of-type {
    height: 100%;
}

section:first-of-type {
    height: calc(100% - 45px);
    backdrop-filter: blur(3px);
    color: #fff;
    font-size: 1.3em;
    display: grid;
    align-content: center;
    padding-left: 7%;
}

main::before,
main::after {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5px;
    content: 'image: cottonbro studio @ pexels.com';
    font-size: 0.75em;
    color: #d6d6d6;
    text-shadow: 0 0 5px #d6d6d6bb;
    z-index: 4;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

main::before {
    content: 'made by olafcio (smathyco contributor)';
    bottom: 20px;
}

body.scrolled main::before, body.scrolled main::after {
    right: 50%;
    translate: 50% 0;
}

section:first-of-type .logo {
    font-size: 3em;
    color: #0000;
    width: fit-content;
    background: linear-gradient(45deg, #1e90ff, violet);
    background-clip: text;
    position: relative;
    z-index: 1;
}

body.loaded #home > :is(h1, p) {
    opacity: 0;
    animation: fadeInLeft 0.7s ease-in-out 0.4s forwards;
}

body.loaded #home > p {
    animation-delay: 1.1s;
    animation-duration: 0.9s;
}

section:first-of-type .logo::before,
section:first-of-type .logo::after {
    content: 'SmathyCo';
    position: absolute;
    left: -2px;
    top: -2px;
    opacity: 0.8;
    scale: 1.1;
    filter: blur(5px);
    z-index: -1;
    background: inherit;
    background-clip: text;
    margin-top: 1px;
}

section:first-of-type .logo::after {
    opacity: 0.5;
    left: -4px;
    top: -4px;
    scale: 1.25;
}

section:first-of-type > p {
    max-width: 30%;
}

section:first-of-type > * {
    translate: 0 var(--scrollY);
}

body.scrolled section:first-of-type {
    filter: blur(2px) brightness(0.7);
    pointer-events: none;
    user-select: none;
}

#home > .cards {
    position: absolute;
    right: 10%;
    height: 100px;
    display: grid;
    align-self: center;
    rotate: -25deg 0;
    margin-top: -5%;
}

#home > .cards > .card {
    background: linear-gradient(0deg, #1e90ff88, #ee82ee88);
    box-shadow: 0 0 5px 0 #0008;
    backdrop-filter: blur(5px);
    position: relative;
    z-index: 1;
    font-size: 0.7em;
    border-radius: 8px;
    padding: 7px 13px;
    width: 170px;
    height: 200px;
    rotate: calc(var(--i) * 10deg);
    filter: blur(0.5px);
    margin-top: -130px;
    user-select: none;
    cursor: default;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

#home > .cards > .card:not(.animd) {
    animation: gdRotIn 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 1 0.3s forwards;
    pointer-events: none;
}

#home > .cards:has(.card:hover) > .card:not(:hover) {
    filter: blur(2px);
    opacity: 0.8;
}

#home > .cards > .card:hover {
    rotate: 25deg;
    filter: none;
    z-index: 2;
}

#home > .cards > .card > p {
    font-size: 1.25em;
}

#creation {
    background: #0000;
}

#creation > .child {
    background: #000b;
    padding: 3%;
    font-size: 0.9em;
    transform: translateX(-40px);
    animation: gdScafadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.1s forwards;
}

body:has(.scrolled) #creation > .child {
    transform: translateX(-40px) translateY(-70px);
}

section.center {
    background: #fff;
    display: grid;
    text-align: center;
    justify-items: center;
    align-content: center;
    min-height: 150px;
}

section.center.anim > * {
    opacity: 0;
    animation: fadeInUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.1s forwards;
}

section.center p {
    margin-block: 5px;
    max-width: 500px;
}

footer {
    display: flex;
    color: #fff;
    background: linear-gradient(180deg, #fff -1px, #0000 4px);
}

footer.anim > :not(:last-child) {
    opacity: 0;
    animation: fadeInLeft 0.75s cubic-bezier(0.165, 0.84, 0.44, 1) 0.1s forwards;
}

footer.anim img {
    scale: 0;
    animation: gdScafadeIn 0.75s cubic-bezier(0.165, 0.84, 0.44, 1) 0.1s forwards;
}

footer > * {
    margin: 17px 30px;
    list-style: none;
}

footer > .right {
    margin-left: auto;
    user-select: none;
}

footer img {
    width: 46px;
}

a {
    color: #1e90ff;
}

.rainbow {
    margin: 2% 0 3% 0;
    padding: 9px 14px 10px;
    position: relative;
    border-radius: 8px;
}

.rainbow::after {
    content: '';
    position: absolute;
    left: -3px;
    top: -3px;
    width: calc(100% + 7px);
    height: calc(100% + 7px);
    box-shadow: 0 0 5px 0 #0008;
    border-radius: 8px;
    pointer-events: none;
}

.rainbow::before {
    content: '';
    border-radius: 8px;
    overflow: hidden;
    border: 5px solid #000;
    box-shadow: inset -2px -2px 5px 0 #0003;
    background-clip: border-box;
    clip-path: inset(0% 0% 0% 0% round 8px);
    border-image-source: url(https://cdn.vectorstock.com/i/500p/60/79/rainbow-background-pastel-color-abstract-pattern-vector-43916079.jpg);
    border-image-slice: 40;
    border-image-repeat: stretch;
    position: absolute;
    left: -3px;
    top: -3px;
    width: calc(100% - 3px);
    height: calc(100% - 3px);
    pointer-events: none;
}

.btn {
    border-radius: 7px;
    background: #26566b66;
    /* box-shadow: 0 0 5px 0 #26566b66; */
    box-shadow: 0 0 5px 0 #26566b66, inset 0 -4px 5px -2px #0003;
    padding: 6px 15px;
    border: none;
    font-family: inherit;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.btn:hover {
    /* background: #26566b77; */
    box-shadow: 0 0 5px 0 #26566b66, inset 0 -34px 5px -2px #0003;
}

.flex {
    display: inline-flex;
    list-style: none;
    gap: 7px;
}

.flex li {
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.flex li:has(a:hover) {
    translate: 0 -3px;
}

img {
    width: 46px;
}
