nav ul li a {
    color: white;
}

.main-title {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/big-background.jpg');
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 100vh;
    color: white;
}

.main-title .p1 {
    font-size: 45px;
    font-weight: bold;
    margin-top: 0;
    padding-top: 130px;
}

.main-title .p2 {
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
}

.disc {
    transition: ease 0.3s;
}

.disc:hover {
    transition: ease 0.3s;
    transform: translateY(-5px);
}

/* Make sure the wrapper takes up the full viewport height */
.wrapper {
    display: flex;
    align-items: center;  /* Vertically center */
    justify-content: center;  /* Horizontally center */
    height: 60vh;  /* Full viewport height */
    margin: 0;
}

/* Optional: you can add additional styling for the content */
.content {
    text-align: center;
}